@use '../base/variables' as vars;
@use 'sass:map';

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  color: vars.$neutral-9;
  background-color: vars.$neutral-1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  &--user {
    background-color: vars.$neutral-1;
    border-bottom: 1px solid lighten(vars.$neutral-9, 70%);
  }

  &--admin {
    background-color: vars.$neutral-1;
    border-bottom: 1px solid lighten(vars.$neutral-9, 70%);
  }

  &__inner {
    max-width: 80rem;
    margin: 0 auto;
    padding: map.get(vars.$space, md) map.get(vars.$space, lg);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: vars.$primary;
  }

  &__nav {
    display: flex;
    gap: map.get(vars.$space, lg);
    align-items: center;

    &--container {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: map.get(vars.$space, lg);
    }
  }

  &__link {
    color: vars.$neutral-9;
    font-weight: 500;

    &:hover,
    &.active {
      color: vars.$primary;
    }
  }

  &__profile {
    position: relative;
    top: 0.5rem;
    right: 1rem;
  }

  &__avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  &__dropdown-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li + li {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    a,
    button {
      display: block;
      width: 100%;
      padding: 0.75rem 1rem;
      color: vars.$neutral-9;
      background: none;
      text-align: left;
      border: none;
      font-family: vars.$font-stack;
      font-size: 0.95rem;
      cursor: pointer;

      &:hover {
        background: lighten(vars.$primary, 45%);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: map.get(vars.$space, md);
    position: relative;
  }

  &__icon {
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: vars.$neutral-9;

    &:hover {
      color: vars.$primary;
    }

    &--notification {
      position: relative;
    }

    &--profile {
      font-size: 1.5rem;
    }
  }

  &__badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background: red;
    color: white;
    font-size: 0.7rem;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
