@use '../base/variables' as vars;
@use 'sass:map';

.btn {
  background-color: map.get(vars.$colors, primary);
  color: map.get(vars.$colors, neutral-1);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font: inherit;

  &:hover,
  &:active {
    background-color: darken(map.get(vars.$colors, primary), 10%);
  }

  &--text-only {
    background-color: transparent;
    color: map.get(vars.$colors, accent);
    border-bottom: 2px solid transparent;

    &:hover,
    &:active {
      color: darken(map.get(vars.$colors, accent), 10%);
      border-color: darken(map.get(vars.$colors, accent), 10%);
    }
  }
}
