@use '../base/variables' as vars;

.btn {
  background-color: vars.$primary;
  color: vars.$neutral-1;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font: inherit;

  &:hover,
  &:active {
    background-color: darken(vars.$primary, 10%);
  }

  &--text-only {
    background-color: transparent;
    color: vars.$accent;
    border-bottom: 2px solid transparent;

    &:hover,
    &:active {
      color: darken(vars.$accent, 10%);
      border-color: darken(vars.$accent, 10%);
    }
  }
}
