@use '../base/variables' as vars;
@use 'sass:map';

.dropdown {
  position: relative;
  display: inline-block;

  &__trigger {
    cursor: pointer;
    border: map.get(vars.$colors, accent);
    // style your trigger
  }

  &__menu {
    position: absolute;
    top: 100%;
    z-index: 999;
    min-width: 200px;
    background: map.get(vars.$colors, neutral-1);
    border: 1px solid map.get(vars.$colors, accent);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: map.get(vars.$space, sm);
    border-radius: map.get(vars.$radius, md);
  }

  &--align-right {
    right: 0;
  }

  &--align-left {
    left: 0;
  }
}


.apply-btn {
  margin-top: map.get(vars.$space, sm);
  padding: 0.4rem 0.8rem;
  background-color: map.get(vars.$colors, primary);
  color: white;
  border: none;
  border-radius: map.get(vars.$radius, sm);
  cursor: pointer;

  &:hover {
    background-color: darken(map.get(vars.$colors, primary), 5%);
  }
}
