.input-group {
  margin-bottom: 1rem;

  label {
    display: block;
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: #d3cedc;
    text-transform: uppercase;
  }

  input {
    width: 100%;
    max-width: 35rem;
    font: inherit;
    font-size: 1.25rem;
    border: 1px solid #d3cedc;
    border-radius: 4px;
    padding: 0.5rem;
  }

  &.error {
    color: #ebb0af;
    font-size: 0.85rem;
    margin-top: 4px;
    padding-left: 2px;
    line-height: 1.4;
    animation: fadeIn 0.2s ease-in-out;
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  text-align: right;
}


///SIGN UP FORM 

.signup-prompt {
   text-align: center;
  font-size: 0.9rem;
  color: white;
  margin-top: 1.5rem;
}

.signup-link {
    color: white; // primary color
    text-decoration: none;
    font-weight: 500;
    margin-left: 0.25rem;

    &:hover {
      text-decoration: underline;
      color: #ccb2f6;
    }
  }

 .signup-form {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);

  .input-field {
    margin-bottom: 1.25rem;
  }

  .signup-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    button {
      min-width: 100px;
    }
  }
}
 

