@use '../base/variables' as vars;
@use 'sass:map';

.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &.dropdown-backdrop {
    background: transparent;
  }
}

.modal-container {
  background-color: vars.$primary;
  color: vars.$neutral-1;
  padding: map.get(vars.$space, lg);
  border-radius: 8px;
  width: 90%;
  max-width: 35rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-down 0.3s ease-out forwards;

  &.dropdown-menu {
    position: absolute;
    top: 4rem;
    right: 0.5rem;
    width: 12rem;
    margin: 0;
    padding: 0.5rem 0;
  }
}

.modal-title {
  max-width: 60ch;
  font-size: 1.25rem;
  color: vars.$neutral-1;
}

.modal-content--scrollable {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 8px;
  scrollbar-width: thin;
  scrollbar-color: vars.$primary transparent;
}

.confirm__modal {
  padding: map.get(vars.$space, md) 0;
  background-color: rgba(0, 0, 0, 0.308);

  &--container {
    padding: map.get(vars.$space, lg);
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }

  &--message {
    text-align: center;
    color: vars.$neutral-1;
    font-size: 1rem;
    margin-bottom: map.get(vars.$space, md);
  }

  &--actions {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
}

.cancel-btn {
  background-color: #e63946;
  color: vars.$neutral-1;
  font-weight: 500;
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background-color: #d62828;
  }
}

.cancel-btn--text {
  background: none;
  color: vars.$neutral-1;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;

  &:hover {
    color: vars.$neutral-9;
    text-decoration: underline;
  }
}
