.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

    &.dropdown-backdrop {
    background: transparent;
  }

}

.modal-container {
  background-color: #b592ed;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 35rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-down 0.3s ease-out forwards;


   &.dropdown-menu {
    position: absolute;
    top: 4rem;       // adjust to sit below your avatar
    right: .5rem;     // adjust to align under avatar
    width: 12rem;
    margin: 0;       // cancel auto-centering
    padding: 0.5rem 0;
   }
}

.modal-title {
  max-width: 60ch;
  font-size: 1.25rem;
  color: white;
}

.modal-content--scrollable {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 8px;
  scrollbar-width: thin;
  scrollbar-color: #b68ef7 transparent;
}
