@use '../base/variables' as vars;
@use 'sass:map';

.multi-checkbox-wrapper {
  padding: 0.4rem 0.6rem;
  margin-top: 0.3rem;
  border: 1px solid map.get(vars.$colors, accent);
  border-radius: 4px;
  background-color: map.get(vars.$colors, neutral-1);
  color: map.get(vars.$colors, primary);
  font-size: 1rem;
  min-width: 180px;

  display: flex;
  flex-direction: column;
  gap: map.get(vars.$space, xs);

  &__item {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      margin-right: 0.5rem;
      accent-color: map.get(vars.$colors, primary);
    }

    span {
      font-size: 0.95rem;
    }
  }

  &:focus-within {
    border-color: map.get(vars.$colors, primary);
    outline: none;
  }
}

