@use "../base/variables" as vars;
@use "sass:map";

.session-card {
  display: flex;
  flex-direction: column;
  background-color: darken(vars.$primary, 15%);
  border-radius: 6px;
  overflow: hidden;
  height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

  &__image {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: map.get(vars.$space, md);
  }

  &__title {
    margin-bottom: 0.25rem;
    font-size: 0.85rem;
    color: lighten(vars.$accent, 20%);
  }

  &__description {
    color: vars.$neutral-1;
    font-size: 1rem;
  }

  &__footer {
    margin-top: auto;
    text-align: right;
    margin-bottom: map.get(vars.$space, md);
    margin-right: map.get(vars.$space, md);
  }
}
