@use '../base/variables' as vars;
@use 'sass:map';

.home {
  width: 80%;
  max-width: 60rem;
  margin: map.get(vars.$space, xl) auto;
  color: map.get(vars.$colors, neutral-9);

  &__heading {
    font-size: 2.5rem;
    color: map.get(vars.$colors, primary);
  }

  &__section {
    display: flex;
    gap: map.get(vars.$space, xl);
    margin: map.get(vars.$space, xl) 0;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__image {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    border-radius: 50%;
  }

  &__subheading {
    font-size: 1.5rem;
    color: map.get(vars.$colors, accent);
  }

  &__text {
    max-width: 60ch;
    font-size: 1.25rem;
    color: lighten(map.get(vars.$colors, neutral-9), 20%);
  }
}
