.home {
  width: 80%;
  max-width: 60rem;
  margin: 3rem auto;
  color: white;

  &__heading {
    font-size: 2.5rem;
    color: #e1d8f0;
  }

  &__section {
    display: flex;
    gap: 2rem;
    margin: 3rem 0;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__image {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    border-radius: 50%;
  }

  &__subheading {
    font-size: 1.5rem;
    color: #c7b0ee;
  }

  &__text {
    max-width: 60ch;
    font-size: 1.25rem;
    color: #d5cbe7;
  }
}
