@use '../base/variables' as vars;
@use 'sass:map';

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: map.get(vars.$space, lg);
  color: map.get(vars.$colors, neutral-9);
  background: map.get(vars.$colors, neutral-1);

  h2 {
    font-size: 3rem;
    margin-bottom: map.get(vars.$space, md);
    color: map.get(vars.$colors, primary);
  }

  p {
    font-size: 1.25rem;
    margin-bottom: map.get(vars.$space, lg);
    color: lighten(map.get(vars.$colors, neutral-9), 20%);
  }
}
