@use '../base/variables' as vars;
@use 'sass:map';

.profile {
  display: flex;
  min-height: 100vh;
  width: 90%;
  background: vars.$neutral-1;

  &__card {
    width: 100%;
    margin: auto;
    padding: map.get(vars.$space, lg);
    background: lighten(vars.$neutral-1, 3%);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: map.get(vars.$space, md);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-family: vars.$font-stack;
    font-size: 1.5rem;
    margin-bottom: map.get(vars.$space, sm);
    color: vars.$primary;
  }

  &__email {
    font-family: vars.$font-stack;
    font-size: 1.25rem;
    margin-bottom: map.get(vars.$space, sm);
    color: lighten(vars.$neutral-9, 30%);
  }

  &__bio {
    font-family: vars.$font-stack;
    font-size: 1rem;
    color: vars.$neutral-9;
    text-align: center;
    max-width: 50ch;
  }
}
