@use '../base/variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: vars.$font-stack;
  background: linear-gradient(90deg, #49464f 0, #373240 100%);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
