@use '../base/variables' as vars;
@use 'sass:map';

h1, h2, h3, h4, h5, h6, p {
  color: vars.$accent;
  line-height: 1.4;
  margin-bottom: map.get(vars.$space, sm);
  font-family: vars.$font-stack;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.75rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: vars.$neutral-9;
  line-height: 1.6;
}
