
@use '../base/variables' as vars;
@use 'sass:map';

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  &__margin {
    margin-top: 1.5rem;
  }
}


.full-width {
  width: 100%;
}

.half-width {
  width:25%;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  gap: map.get(vars.$space, sm); // use your design spacing
  margin-top: map.get(vars.$space, md); // optional spacing from fields
}

